$breakpoints: (
    "small" : 576px,
    "medium" : 768px,
    "large" : 992px,
    "extra-large" : 1200px,
);

@function getBreakpoint($breakpoint) {
    @return map-get($breakpoints, $breakpoint);
}

$padding: 150px;
$margin: 15px;
$size: 18px;
$ltgray: rgba(255,255,255,.75);