@import "globals";

body, html {
    height: 100%;
}

h1 {
    text-align: center;
    margin: $margin 0;
}

ul {
    text-align: center;
}

.row {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    
        li {
            i {
                text-align: center;
                min-width: 20px;
                margin-right: 0.3em;
            }
            margin: $margin 0;
        }
    }
}

.parallax {
    background-image: url("../images/blurredCode.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-device-width: getBreakPoint("medium")) {
        background-attachment: scroll;
    }
}

.rounded-picture {
    display: block;
    height: 200px;
    border: 1px solid white;
    margin: 0 auto;
}

#personalInfo {
    padding: $padding 0;

    #perosnalInfoDetails {
        display:flex;
        justify-content:center;
        align-items:center;

        ul {
            li {
                color: $ltgray;
            }
        }
    }
}

.gray {
    background-color: rgb(240, 241, 243);
}

#education {
    padding-top: $padding;
    padding-bottom: $padding;
}

#skills {
    padding-top: $padding;
    padding-bottom: $padding;
    color: $ltgray;

    ul {
        li {
            @media (max-width: getBreakpoint("large")){
                text-align: center;
            }
        }
    }

    .skill-col {
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

.checked {
    color: orange;
}