@import "globals";

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-in {
    animation: fadein 3s;
}

body, html {
    height: 100%;
    background-color: rgb(240, 241, 243);
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    margin: $margin 0;
}

ul {
    text-align: center;
}

.row {
    font-size: $size;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    
        li {
            i {
                text-align: center;
                min-width: 20px;
                margin-right: 0.3em;
            }
            margin: $margin 0;
        }
    }
}

.parallax {
    background-image: url("../images/blurredCode.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-device-width: getBreakPoint("medium")) {
        background-attachment: scroll;
    }
}

section {
    padding: $padding 0;
}

.rounded-picture {
    display: block;
    height: 300px;
    border: 1px solid white;
    margin: 0 auto;
}

#personalInfo {
    #perosnalInfoDetails {
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

#skills {
    color: $ltgray;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
            width: 100%;

            @media (min-width: getBreakpoint("medium")) {
                width: 50%;
                text-align: center;
            }

            @media (min-width: getBreakpoint("large")) {
                width: 33%;
                text-align: center;
            }
        }
    }

    .skill-col {
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

.checked {
    color: orange;
}

#heading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            margin: 0;
            margin-bottom: $margin;
            color: $ltgray;
        }
    }
}